.hero_section {
  background: linear-gradient(to bottom, #b197fc, #5f3dc4);
}

.hero_section section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 10px;
  font-size: 4rem;
  font-family: "Bruno Ace SC";
}

.welcome {
  position: relative;
}

.hero_img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: -1;
}

.button {
  font-size: 3rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Bruno Ace SC";
  border-radius: 1rem;
  border: none;
  background-color: var(--yellow);

  transition: all 300ms;
}
.button:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.4rem var(--yellow);
  color: #fff;
}

.levels {
  display: flex;
  gap: 2rem;
}

.levels:nth-child(2) {
  transition-delay: 200ms;
}
.levels:nth-child(3) {
  transition-delay: 400ms;
}
.levels:nth-child(4) {
  transition-delay: 600ms;
}

.level_box {
  background-color: var(--yellow);
  width: 10rem;
  padding: 1rem 0;
  border-radius: 1rem;
  margin-top: 2rem;
}

.level_box p {
  font-size: 1rem;
}
