.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  font-family: "Bruno Ace SC";
}

.navigation h2 {
  font-size: 4rem;
  color: var(--yellow);
}

.navigation span svg {
  font-size: 4rem;
  color: var(--yellow);

  transition: all 300ms;
}

.navigation span svg:hover {
  color: var(--yellow-dark);
}
