.bar {
    display: flex;
    height: 160px;
    width: 15px;
    background-color: #555;
    position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  border: 15px solid #555;
  border-color:#555;
  width: 165px;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}