* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to bottom, #b197fc, #5f3dc4);
}

:root {
  --primary: #7048e8
  --tint-1: #9775fa
  --shade-1:#5f3dc4
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 700ms;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
